on:
  release:
    types: [created]

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: GoReleaser Action
      uses: goreleaser/goreleaser-action@v4.1.0
      with:
        args: release --rm-dist
